<body>
    <div id = "Stijlen">


    </div>

    <div id = "Overzicht van de regels">
        <h3>Dit zijn de regels omtrent het Coronavirus: </h3>
            <ul>
                <li>Voor iedereen geldt: blijf en werk zoveel mogelijk thuis.</li>
                <li>Bij koorts moet het volledige huishouden thuisblijven.</li>
                <li>Er mogen niet meer dan drie mensen op bezoek komen.</li>
                <li>Schud geen handen.</li>
                <li>Verpleeghuizen in de ouderenzorg zijn gesloten voor bezoekers. </li>
            </ul>
    </div>
</body>