<h4>Heeft u koorts, 38 graden Celsius of hoger?</h4>
<mat-form-field appearance="legacy">
  <mat-label>Vul in:</mat-label>
  <mat-select matNativeControl required>
    <mat-option value="Ja">Ja</mat-option>
    <mat-option value="Nee">Nee</mat-option>
  </mat-select>
</mat-form-field>

<h4>Heeft u verkoudheidsklachten, zoals neusverkoudheid, loopneus, keelpijn, lichte hoest of verhoging tot 38 graden Celsius?</h4>
<mat-form-field>
  <mat-label>Vul in:</mat-label>
  <mat-select matNativeControl required>
    <mat-option value="Ja">Ja</mat-option>
    <mat-option value="Nee">Nee</mat-option>
  </mat-select>
</mat-form-field>

<h4>Heeft uw huisgenoot verkoudheidsklachten met koorts (38 graden Celcius of hoger), en/of benauwdheid?</h4>
<mat-form-field>
  <mat-label>Vul in:</mat-label>
  <mat-select matNativeControl required>
    <mat-option value="Ja">Ja</mat-option>
    <mat-option value="Nee">Nee</mat-option>
  </mat-select>
</mat-form-field>


